<%
    const pageMeta = {
        title: '株式会社SHINEI',
        keywords: '',
        description: '私たち株式会社SHINEIは資源の再資源化によって明るく健やかでクリーンな未来作りに貢献していきます。',
        path: './'
    }
%>
<%- include ('parts/_header' , { meta: pageMeta }); %>

    <section class="company-profile" id="company">
        <div class="company-profile__wrap">
            <h2 class="caption">
                COMPANY PROFILE
                <span>会社案内</span>
            </h2>
            <div class="tableWrap">
                <table>
                    <tbody>
                        <tr>
                            <th class="justify">社名</th>
                            <td>株式会社SHINEI</td>
                        </tr>
                        <tr>
                            <th class="justify">代表者名</th>
                            <td>吉田　理江</td>
                        </tr>
                        <tr>
                            <th class="justify">所在地</th>
                            <td>〒458-0003　愛知県名古屋市緑区黒沢台1-1517</td>
                        </tr>
                        <tr>
                            <th class="justify">設立</th>
                            <td>平成26年4月2日</td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <th>主な取引先<br>（50音順）</th>
                            <td>
                                <ul>
                                    <li>株式会社ウッドフレンズ</li>
                                    <li>住友不動産株式会社</li>
                                    <li>株式会社山善</li>
                                    <li>その他建設業者、不動産業者</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="business-outline" id="business">
        <div class="business-outline__img">
            <img src="common/img/page/top/img01.png" alt="">
        </div>
        <div class="business-outline__wrap">
            <h2 class="caption">
                BUSINESS OUTLINE
                <span>事業内容</span>
            </h2>
            <p class="text">
                一般建設業（般-30）第107962号<br>産業廃棄物収集運搬業許可　許可番号02300180167号
            </p>
            <div class="workList">
                <dl>
                    <dt>総合解体工事</dt>
                    <dd>木造住宅解体、RC解体、マンション・店舗等のスケルトン中抜工事</dd>
                </dl>
                <dl>
                    <dt>建設・リフォーム工事</dt>
                    <dd>住宅水廻り設備リフォーム、店舗改装等</dd>
                </dl>
                <dl>
                    <dt>塗装工事</dt>
                    <dd>各種塗装工事等</dd>
                </dl>
                <dl>
                    <dt>土木工事</dt>
                    <dd>山林伐採、造成工事等</dd>
                </dl>
                <dl>
                    <dt>リフォーム工事</dt>
                    <dd>店舗・インテリアリフォーム工事等</dd>
                </dl>
                <dl>
                    <dt>外構工事</dt>
                    <dd>各種外構工事等</dd>
                </dl>
            </div>
        </div>
    </section>

    <section class="about-price" id="price">
        <div class="about-price__wrap">
            <h2 class="caption">
                ABOUT PRICE
                <span>料金について</span>
            </h2>
            <ul class="priceList">
                <li>
                    <img src="common/img/page/top/img02.png" alt="">
                    <div class="text">
                        <h3>木造建築解体</h3>
                        <p>坪25,000円〜</p>
                    </div>
                </li>
                <li>
                    <img src="common/img/page/top/img03.png" alt="">
                    <div class="text">
                        <h3>鉄骨造建築解体</h3>
                        <p>坪30,000円〜</p>
                    </div>
                </li>
                <li>
                    <img src="common/img/page/top/img04.png" alt="">
                    <div class="text">
                        <h3>鉄骨造建築解体</h3>
                        <p>坪35,000円〜</p>
                    </div>
                </li>
                <li>
                    <img src="common/img/page/top/img05.png" alt="">
                    <div class="text">
                        <h3>リフォーム解体・店舗中抜解体</h3>
                    <p>坪30,000円〜</p>
                    </div>
                </li>
            </ul>
            <p class="caution">
                ※アスベストが含まれている場合は、別途費用が発生します。
            </p>
            <p class="text">
                現場に応じて金額は前後します。お見積は無料です。お気軽にお問い合わせください。<br>リフォーム工事、店舗改装工事等も行っております。こちらもお見積は無料です。
            </p>
        </div>
    </section>

    <section class="access" id="access">
        <div class="access__wrap">
            <h2 class="caption">
                ACCESS
                <span>アクセス</span>
            </h2>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3264.116890903599!2d136.99651905094188!3d35.10379196893363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003635e49d67a97%3A0xd0b946a5ab4bb28a!2z44CSNDU4LTAwMDMg5oSb55-l55yM5ZCN5Y-k5bGL5biC57eR5Yy66buS5rKi5Y-w77yR5LiB55uu77yR77yV77yR77yX!5e0!3m2!1sja!2sjp!4v1666799765604!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="contact__wrap">
            <h2 class="caption">
                CONTACT
                <span>お問合せ</span>
            </h2>
            <p class="text">
                以下のフォームに必要事項をご記入の上、「送信確認」ボタンをクリックしてください。
            </p>
            <form action="">
                <div class="formWrap">
                    <div class="left">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th><span>会社名</span></th>
                                    <td><input type="text" name="会社名" ></td>
                                </tr>
                                <tr>
                                    <th><span>お名前</span></th>
                                    <td><input type="text" name="_お名前" required=""></td>
                                </tr>
                                <tr>
                                    <th><span>フリガナ</span></th>
                                    <td><input type="text" name="_フリガナ" required=""></td>
                                </tr>
                                <tr>
                                    <th><span>メールアドレス</span></th>
                                    <td><input type="email" name="_メールアドレス" required=""><input type="email" name="_確認用メールアドレス" placeholder="確認のため2回入力してください。" required=""></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="right">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th><span>お問合せ内容</span></th>
                                    <td><textarea cols="30" rows="8" name="お問合せ内容"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="confirmBtn">
                    <input type="submit" value="送信確認">
                </div>
            </form>

        </div>
    </section>

<%- include ('parts/_pagetop'); %>

<%- include ('parts/_footer' , { meta: pageMeta }); %>