@charset "utf-8";
// ==========================================================
// Name: config.scss
//
// Description:
//   サイト全体に共通するデザインとスタイルの設定
//   このファイルに記述するコメントは、１行コメントの「//」を使用する
//   「/* ~~ */」の複数行コメントは、CSSとして出力されるため使用しない
// ==========================================================

// ------------------------------------------------
// Media Query
// ------------------------------------------------

// PC
$pc: 1099px;
// Tablets
$tab: 768px;
// SmartPhones
$sm: 576px;

// ------------------------------------------------
//	Base Settings
//-------------------------------------------------
$imgDir: "../img/";

$mainColor: #5b92c6;
$subColor: #7dc4e7;
$bgColor: #fff;
$textColor: #000;
$linkColor: #000;
$linkHoverColor: #000;
$borderColor: #ccc;

$widthPc: 1100px;
$widthPcSm: 95%;
$widthTab: 95%;
$widthSp: 95%;

// ------------------------------------------------
//  Fonts
//-------------------------------------------------
$fontNormal: "Noto Sans JP", sans-serif;
$fontSerif: "Noto Serif JP", serif;
$fontSize: 16;
$lineHeight: 1.5;

// ------------------------------------------------
//  Images
//-------------------------------------------------
$imageOpacity: 0.7; // ホバー時の透過率
$imageScale: 1.05; // ホバー時の拡大率

// ------------------------------------------------
//  Contents
//-------------------------------------------------
$scrollMarginTop: 0px; // ヘッダー固定時の余白
$contentPaddingPc: 5rem 0; // コンテンツ毎の余白＊PC
$contentPaddingSp: 3rem 0; // コンテンツ毎の余白＊SP
