<footer class="footer">
    <div class="footer__wrap">
        <div class="logo">
            <img src="<%= meta.path %>common/img/layout/footer/fLogo.svg" alt="">
        </div>
        <address>株式会社SHINEI　〒458-0003 愛知県名古屋市緑区黒沢台1-1517</address>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="<%= meta.path %>common/js/common.js"></script>

</body>
</html>